<article class="article">
  <section class="article-head">
    <h2><%= @article.title %></h2>
    <small>
      <time><%= @article.created_at.to_date.strftime("%d %B, %Y") %></time>
      <%= link_to 'Edit', edit_article_path(@article) %>
      <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %>
    </small>
  </section>
  <section class="article-summary">
    <%= @article.content %>
  </section>
</article>