<!DOCTYPE html>
<html>
  <head>
    <title>NewsFeedApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <a class="nav-link" href="<%= new_user_session_path %>">Enter</a>
    <a class="nav-link" href="<%= new_user_registration_path %>">Register</a>
    <%= yield %>
  </body>
</html>
