<!DOCTYPE html>
<html>
  <head>
    <title>NewsFeedApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="mx-auto order-0">
        <a id="top" class="navbar-brand mx-auto" href="<%= articles_path %>">news_feed_app</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to 'Adminpanel', admin_user_session_path, class: "nav-link" %>
        <% end %>
        </li>
      </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
            <li class="nav-item">
                <%= link_to 'Exit', destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
            <% else %>
            <li class="nav-item">
                <%= link_to 'Login', new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Register', new_user_registration_path, class: "nav-link" %>
            </li>
            <% end %>
        </ul>
    </div>
  </nav>
  <div class="container main">
    <div class="row">
      <div class="col-md-12">
        <% flash.each do |name, message| %>
          <div class="alert <%= bootstrap_class_for(name) %>">
            <button class="close" data-dismiss="alert">&times</button>
              <%= message %>
          </div>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </div>
    
  </body>
</html>
